body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #fff;
}


.card-img-top {
    height: 200px;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 80%;
}

img {
    padding: 10px;
    margin: auto;
}

.btn {
    background-color: #000000;
    border: none;
    color: #fff;
}

.btn:hover {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
}

.modal-content {
    border-radius: 10px;
}

.navbar-brand {
    all: unset;
    font-size: 24px;
    font-weight: bold;
    color: #0967ff !important;

}

.cart-icon {
    color: #000;
    font-size: 1.2rem;
}

.card-title {
    font-size: 16px;

}

.card-text {
    font-size: 1.1rem;
    font-weight: 600;
}

#cart-count {
    background-color: #0967ff
}